:root{  
    --vermelho: #E50914;
    --preta: #141414;
} /*zerar definições padrões */ /*declarar variavel dentro do css, se usa pra não precisar ficar procurando no código todo item por item*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*limite de tudo que está aqui não vai passar da caixa*/
}
/* elementos base*/
body{
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color:white; /*tudo que for "filho do body" vai ser dessa cor*/
}

header .container{
    display: flex; /* "flexbox" ele tem a tendência de jogar tudo no row */
    flex-direction: row;
    align-items: center; /* deixou os links alinhados vertical*/
    justify-content: space-between ; /*trabalha os itens na horizontal*/     
}

header .logo{
    margin-left: 5px; /* desgrudar do canto*/
    color: var(--vermelho);
    font-family: 'Arial Black', Times; /*segundo nome é para caso não tenha o primeiro*/
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{ /* quando o mouse estiver em cima do elemento*/
    color: #fff;
}

/* filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa.gif'); /*linear-gradient ele está fazendo uma fina camada meio transparente*/

    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all; /*cuida da parte entre uma animação e outra*/ 
}

.botao:hover{/*quando passar o mouse por cima vai ficar com a cor branca e a letra preta*/
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}

/*wrapper = envelopar

quando minimiza a tag \/ ela envelopa
em vez de manipular cada elemento filho, manipula todos os filhos. fica um "padrão"*/